#contenedor {
  width: 806px;
  margin: 0 auto;
}
#columna-izq {
  width: 403px;
  float: left;
  background: greenyellow;
}
#columna-der {
  width: 403px;
  float: left;
  background: coral;
}

@media screen and (max-width: 805px) {
  #contenedor {
    width: 100%;
  }
  #columna-izq {
    width: 70%;
  }
  #columna-der {
    width: 30%;
  }
}

@media screen and (max-width: 740px) {
  #columna-izq {
    width: 100%;
  }
  #columna-der {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
