#contenedor {
  width: 806px;
  margin: 0 auto;
}
#columna-izq {
  width: 397px;
  float: left;
  background: greenyellow;
  margin-right: 3px;
  padding: 1px;
}
#columna-der {
  width: 397px;
  float: right;
  background: coral;
  margin-left: 3px;
  padding: 1px;
}

@media screen and (max-width: 805px) {
  #contenedor {
    width: 98%;
  }
  #columna-izq {
    width: 70%;
  }
  #columna-der {
    width: 30%;
  }
}

@media screen and (max-width: 740px) {
  #columna-izq {
    width: 100%;
  }
  #columna-der {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
